.heading {
    font-size: 20px;
}

.propertyTop {
    border-radius: 25px 25px 0px 0px;
    border-style: solid;
    border-color: black;
    padding: 10px
}

.propertyInner {
    border-left-style: solid;
    border-left-color: black;
    border-right-style: solid;
    border-right-color: black;
    padding: 10px;
}

.propertyBottom {
    border-radius: 0px 0px 25px 25px;
    border-style: solid;
    border-color: black;
    padding: 20px;
    margin-bottom: 20px;
    font-weight: bold;
    font-size: 15px;
}