<div ng-mouseover='hoverIn()' ng-mouseleave='hoverOut()' id={{id}} >
    <div class='propertyTop' ng-style="{'background-color':propertyData.agency.brandingColors.primary}" >
        <img class='agencyLogo' ng-src={{propertyData.agency.logo}} alt='logo'>
    </div>
    <div class='propertyInner'>
        <img ng-src={{propertyData.mainImage}} alt='mainImage' class='img-responsive'>
    </div>
    <div class='propertyBottom'>
        <div class='btnWrapper'>
            <div ng-click='addSavedProperty({propertyData:propertyData})' ng-show=showAddButtonToggle style='width:100%' class='addRemoveButton btn btn-success'>add property</div>
            <div ng-click='removeSavedProperty({id:id})' ng-show=showRemoveButtonToggle style='width:100%' class='addRemoveButton btn btn-danger'>remove property</div>
        </div>
        {{propertyData.price}}
    </div>
</div>